/.settings
/.classpath
/.project
/messaging-api/.settings
/messaging-api/.classpath
/messaging-api/.project
/messaging-api/target
/generator-api/.settings
/generator-api/.classpath
/generator-api/.project
/generator-api/target
